body
{
    background-color: rgb(214, 210, 207) ;
}

.navbar 
{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    gap: 100px;
}

#search 
{
    height: 70px;
    width: 700px;
    padding: 30px;
    outline-style: none;
    font-size: 16px;

}


#logo
{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: none;
    background-color: black ;
    align-self: flex-start;
}